DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<port_database>
DB_NAME=<nama_database>

SECRET_KEY_JWT=example
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=300
MODEL_PATH=weights/best.onnx
LABEL_PATH=weights/label.yaml
# setup smtp gmail
MAIL_USERNAME=<admin_smtp@gmail.com>
MAIL_PASSWORD=<password_smtp@gmail.com>
MAIL_FROM=<admin_rover@gmai.com>
MAIL_PORT=<SMTP_PORT>
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=Rover App
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

# untuk admin
SUPERADMIN_EMAIL=<admin@example.com>
SUPERADMIN_USERNAME=<username_for_admin>
SUPERADMIN_PASSWORD=<password_for_admin>

# CORS FRONT END DEV (pisahkan dengan koma untuk multiple origins)
CORS_FE_ORIGINS=<ip_vps:port>
